.banner-text__image:before {
  content: "";
  display: block;
  padding-bottom: 80%;
  @include tablet {
    padding-bottom: 60%;
  }
  @include desktop {
    padding-bottom: 40%;
  }
}

.image--contain,
.image--cover {
  position: relative;
}
.image--contain .image__img,
.image--cover .image__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.banner-text__logo {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: $color-gray-300;
    top: 50%;
    z-index: -1;
  }
}
